name: Application Portal CI/CD Pipeline

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  docker-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file for Docker
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          APP_ADMIN_BOOTSTRAP_PASSWORD: ${{ secrets.APP_ADMIN_BOOTSTRAP_PASSWORD }}
        run: |
          cat <<EOF > .env
          POSTGRES_DB=application_portal_db
          POSTGRES_USER=postgres
          POSTGRES_PASSWORD=$POSTGRES_PASSWORD
          POSTGRES_HOST=portal-prod-db
          POSTGRES_PORT=5432
          BACKEND_PORT=8080
          JWT_SECRET=$JWT_SECRET
          APP_ADMIN_BOOTSTRAP_PASSWORD=$APP_ADMIN_BOOTSTRAP_PASSWORD
          GOOGLE_CLIENT_ID=dummy
          GOOGLE_CLIENT_SECRET=dummy
          SPRING_MAIL_USERNAME=dummy
          SPRING_MAIL_PASSWORD=dummy
          LOGGING_LEVEL_COM_IGIRERWANDA=INFO
          EOF
      

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/application-portal-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/application-portal-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Render
        run: |
          curl -X POST "https://api.render.com/v1/services/srv-d5i0tmchg0os7389htog/deploys" \
            -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
            -H "Accept: application/json"
